%center
  %table{ table }
    %tr
      %td{ td, width: 700 }
        %p{ style: zero  + mb15 + bold  + text_center } Команда Art Electronics поздравляет Вас с 8 марта!
        %p{ style: zero  + mb15 + text_center }
          = email_image 'ae_project/base/8marta.jpg', {}, @is_mail

        %p{ style: zero + mb5 + fs19 }
          "В сердце каждой настоящей женщины горит искра небесного огня, которая
          спокойно спит при ярком дневном свете благополучия, но вспыхивает, сияет и блещет, разгоняя мрачные тучи в дни несчастий"
        %p{ style: zero + italic + text_right }
          Вашингтон Ирвинг


    %tr
      %td{ td }
        
